# Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [31]:
import pandas as pd

ratings = pd.read_csv('New/ratings.csv')
movies = pd.read_csv('New/movies.csv')

data = ratings[ratings.rating ==5].groupby('movieId').count().sort_values(by = ['rating'],ascending =[False]).head(1)

data.merge(movies, on = 'movieId')[['title', 'rating']]

                              title  rating
0  Shawshank Redemption, The (1994)   31896

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [36]:
data = pd.read_csv('power.csv')

data[data['country'].isin(['Lithuania','Latvia','Estonia'])
     & data['category'].isin([4,12,21]) 
     & data['year'].isin(range(2005,2011)) 
     & data['quantity'] > 0].groupby('country').sum()[['quantity']]

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122197.0


# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [37]:
pd.read_html('https://fortrader.org/quotes')[1]

,Type,Last,Chg.,Chg.%,Time
0,ВТБ Акции ОАО ВТБ,0.04522,-0.00101,-2.18473,NaN
1,Газпром Акции газпрома,257.42000,+0.44,0.17000,NaN
2,Лукоил Акции Лукойл,6139.50000,+6.5,0.10000,NaN
3,Роснефть Акции Роснефти,440.55000,+0.15,0.03000,NaN
4,Сбербанк Акции Сбербанка,233.71000,-4.67,-1.96000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,44.06000,-2.480,-5.32900,NaN
6,Норникель Акции Норникель,17038.00000,+4,0.00000,NaN
7,Аэрофлот Акции Аерофлота,103.20000,0.0,0.00000,NaN
8,Северсталь Акции Северсталь,907.40000,+4.6,0.50000,NaN
9,Транснефть Акции транснефти,169200.00000,+2 900,2.00000,NaN
10,Ростелеком Курс акций ростелекома,80.58000,+7.75,10.64000,NaN
11,RUSAL акции RUSAL,3.39000,-0.06,-1.74000,NaN