# Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [51]:
%%time

import pandas as pd

add_r='C:/Users/korni/Documents/pydo-6/lesson/10/New/ratings.csv'
add_m='C:/Users/korni/Documents/pydo-6/lesson/10/New/movies.csv'

data=pd.merge(pd.read_csv(add_r),pd.read_csv(add_m), left_on='movieId', right_on='movieId', how='left')
data=data.groupby('title').mean()[['rating']]

def classify_film(data_):
    if int(data_) <= 2:
        return 'Низкий'
    if (int(data_) > 2) & (int(data_) <= 4):
        return 'Средний'
    return 'Высокий'


data['class'] = data['rating'].apply(classify_film)

data.head()

Wall time: 13.2 s

                                                      rating    class
title
"Great Performances" Cats (1998)                    2.748387   Низкий
#chicagoGirl: The Social Network Takes on a Dic...  3.666667  Средний
$ (Dollars) (1971)                                  2.833333   Низкий
$5 a Day (2008)                                     2.871795   Низкий
$9.99 (2008)                                        3.009091  Средний

# Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [66]:

keywords = pd.read_csv('keywords.csv')
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

def cl_region(data_):
    for item in geo_data.items():
        for i in item[1]:
            if i in data_.lower():
                return item[0]
    return 'undefined'

keywords['region'] = keywords['keyword'].apply(cl_region)
keywords[keywords['region'] != 'undefined'].head()

                        keyword   shows          region
127                авито москва  979292           Центр
370    авито ру санкт петербург  425134    Северо-Запад
564   погода в санкт петербурге  292489    Северо-Запад
849             авито ярославль  209581           Центр
1063        фарпост владивосток  176951  Дальний Восток

# Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга